doctype html
html
  head
    title Users
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js")
    script(src='/javascripts/index.js')
